%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    - if @validatable
      %i
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
    %br 
   
    %div= f.submit "Sign up"
    = f.hidden_field :group_id, value: params[:group_id]
/ - @groups.each do |group|
/   = check_box_tag 'volunteer[group_ids][]', group.id, @volunteer.groups.include?(group) 
/   = group.name

= render "devise/shared/links" 