=form_for [@group, @volunteer, @job] do |f|
  = f.label :name
  = f.text_field :name
  
  = f.label :frequency
  = f.text_field :frequency

  = f.label :instructions
  = f.text_field :instructions  

  =f.submit "Save Job"

  - @volunteer.jobs.each do |x|
  %br
  = link_to "#{x.name}", group_volunteer_path(@group, @volunteer, x)