%h1 Group Directory
%p
  =link_to "Add Group", new_group_path, class: "btn btn-lg btn-info btn-block"

%br
%br
%p Please select your class:
- @groups.each do |group|
  = link_to "#{group.name}", group_path(group)


  = link_to "| Edit |", edit_group_path(group)
  = link_to " Delete |", group_path(group), method: :delete
  %br
= link_to "| Back |", root_path