%a.btn.btn-primary{:href => "new_group_path"} Create Group
= link_to "Create Group", new_group_path
%br

- @groups.each do |group|
  = link_to "#{group.name}", group_path(group)

  = link_to "Edit", edit_group_path(group)
  = link_to "Delete", group_path(group), method: :delete
  %br
= link_to "Back", root_path