%h1 Group Profile
%p Name: #{@group.name}
%br
= link_to "Add Volunteer", new_group_volunteer_path(@group)
%br
%br
- @group.volunteers.each do |volunteer|
  = link_to "#{volunteer.name}", group_volunteer_path(@group, volunteer)
  = link_to "Edit Volunteer", edit_group_volunteer_path(@group, volunteer)
  = link_to "Delete Volunteer", group_volunteer_path(@group, volunteer), method: :delete
  %br
%br