%h1 Group Profile
%p Name: #{@group.name}

%br

%br 
- @group.volunteers.each do |volunteer|
  = link_to "#{volunteer.email}", group_volunteer_path(@group, volunteer)
  = link_to "Delete Volunteer", group_volunteer_path(@group, volunteer), method: :delete
  %br
= volunteer_login_links
