%html
  %head
    %title IronTask
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  %html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %link{:href => "../../favicon.ico", :rel => "icon"}
                %title Starter Template for Bootstrap
                / Bootstrap core CSS
                %link{:href => "../../dist/css/bootstrap.min.css", :rel => "stylesheet"}
                  / Custom styles for this template
                  %link{:href => "starter-template.css", :rel => "stylesheet"}
                    / Just for debugging purposes. Don't actually copy these 2 lines!
                    /[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
                    %script{:src => "../../assets/js/ie-emulation-modes-warning.js"}
                    / IE10 viewport hack for Surface/desktop Windows 8 bug
                    %script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}
                    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
                    /[if lt IE 9]
                      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} The Iron Task Manager
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: "#{is_link_active?('welcome')}"}
              = link_to 'Home', root_path            
            %li{class: "#{is_link_active?('groups')}"}
              = link_to 'Groups', groups_path
            %li{class: "#{is_link_active?('jobs')}"}
              = link_to 'Jobs', jobs_path
        / /.nav-collapse
    .container
      .starter-template
        %h1 The Iron Task
        %p.lead
          Your automated task generator.
          %br Just add jobs and volunteers!
    / /.container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "../../dist/js/bootstrap.min.js"}
    = yield